@import url('../fonts/YaHei-Regular/result.css');
@import url('../fonts/YaHei-Light/result.css');
@import url('../fonts/YaHei-Bold/result.css');
@import url('../fonts/Manrope-Regular/result.css');
@import url('../fonts/Manrope-Light/result.css');
@import url('../fonts/FiraCode-Regular/result.css');
@import url('../fonts/Manrope-Bold/result.css');

@import 'tailwindcss';

@theme {
   --color-primary: #fa7c0e;
   --color-secondary: #a6fb1d;
   --color-background: #111111;
   --color-accent-100: #e5e5e5;
   --color-accent-200: #cacaca;
   --color-accent-300: #9d9d9d;
   --color-accent-400: #6d6d6d;
   --color-accent-500: #434343;
   --color-accent-600: #272727;
   --color-accent-700: #111111;
   --color-error: #fa2f32;
   --color-success: #14e87e;
   --color-warning: #ffbe31;

   --font-family-sans: 'Microsoft YaHei', sans-serif;
   --font-family-serif: 'Microsoft YaHei', serif;
   --font-family-mono: 'Microsoft YaHei', monospace;
   --font-family-manrope: 'Manrope', sans-serif;
   --font-family-fira-code: 'FiraCode Nerd Font Mono', 'Microsoft YaHei',
      monospace;
   --font-size-base: 16px;

   --radius-r5: 1.25rem;

   --spacing-r6: 0.625rem;
}

@layer components {
   input:-webkit-autofill,
   input:-webkit-autofill:hover,
   input:-webkit-autofill:focus,
   textarea:-webkit-autofill,
   textarea:-webkit-autofill:hover,
   textarea:-webkit-autofill:focus,
   select:-webkit-autofill,
   select:-webkit-autofill:hover,
   select:-webkit-autofill:focus {
      -webkit-text-fill-color: white;
      -webkit-box-shadow: inset 0 0 0px 1000px transparent;
      transition: background-color 5000s ease-in-out 0s;
   }
}

body {
   @apply bg-background font-family-sans;
}

@layer components {
   .hljs {
      font-variant-ligatures: none;
      font-family: 'FiraCode Nerd Font Mono', 'Microsoft YaHei', monospace;
      background: transparent !important;
   }

   .st-font-hero-bold {
      @apply text-[2.5rem] font-bold font-family-sans;
   }

   .st-font-hero-normal {
      @apply text-[2.5rem] font-normal font-family-sans;
   }

   .st-font-secondary-bold {
      @apply text-[2rem] font-bold font-family-sans;
   }

   .st-font-secondary-normal {
      @apply text-[2rem] font-normal font-family-sans;
   }

   .st-font-third-bold {
      @apply text-[1.5rem] font-bold font-family-sans;
   }

   .st-font-third-normal {
      @apply text-[1.5rem] font-normal font-family-sans;
   }

   .st-font-body-bold {
      @apply text-base font-bold font-family-sans;
   }

   .st-font-body-normal {
      @apply text-base font-normal font-family-sans;
   }

   .st-font-caption {
      @apply text-sm font-normal font-family-sans;
   }

   .st-font-tooltip {
      @apply text-[0.625rem] font-normal font-family-sans;
   }
}
